.card {
    max-width: 400px;
    text-align: center;
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 24px;
    cursor: pointer;
    transition: all .25s ease-in-out, height .25s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    transform: scale(1.035);
}

.card-spec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}