.card {
    max-width: 400px;
    text-align: center;
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 24px;
    transition: all .25s ease-in-out;
}
.card-spec {
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 100%;
}